
.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*/__pycache__
*.DS_Store
logs/
log*/
POMS_Station.build/
POMS_Station.dist/
poslabel/
*.patch
*.spec
.idea/
.idea/*
*.e4p
test*.*
ui/test*
dist/
build/
poslabel/
*.epj
~$*.xlsx
