aioquic==0.9.20
altgraph==0.17
asgiref==3.5.1
asttokens==2.0.5
async-generator==1.10
attrs==21.2.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.10
crypto==1.4.1
cryptography==3.4.6
DBUtils==2.0.1
debtcollector==2.3.0
Django==4.0.4
dnspython==2.2.0
docopt==0.6.2
docutils==0.17.1
dpkt==1.9.4
ecdsa==0.17.0
EditorConfig==0.12.3
ffmpeg==1.4
ffmpy3==0.2.4
Flask==1.1.2
future==0.18.2
gevent==21.1.2
greenlet==1.0.0
h11==0.12.0
idna==2.10
importlib-resources==5.4.0
inflect==5.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
ldap3==2.9.1
ldapdomaindump==0.9.3
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==1.1.1
mercurial==5.8.1
mysqlclient==2.0.3
Naked==0.1.31
nest-asyncio==1.5.1
netaddr==0.8.0
numpy==1.22.3
nunavut==1.7.4
oslo.config==8.7.1
oslo.i18n==5.1.0
outcome==1.1.0
packaging==20.8
pandas==1.2.3
paramiko==2.7.2
pbr==5.6.0
pefile==2019.4.18
pipreqs
psutil==5.8.0
psycopg2==2.8.6
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.14.1
pyDes==2.0.1
pydsdl==1.13.0
pyee==8.2.2
pyenchant==3.2.1
Pygments==2.9.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pylsqpack==0.3.16
pymssql==2.1.5
PyMySQL==1.0.2
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.4
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt6
PyQt6-Qt==6.0.1
PyQt6-sip==13.0.1
PyQtChart==5.15.4
PyQtChart-Qt5==5.15.2
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyserial==3.5
PySide6==6.3.0
PySide6-Addons
PySide6-Essentials
python-dateutil==2.8.1
python-dotenv==0.15.0
python-ffmpeg==1.0.11
python-gitlab==2.6.0
python-jose==3.3.0
pythonnet==2.5.1
pytz==2021.1
pyuavcan==1.4.5
pywin32==225
pywin32-ctypes==0.2.0
pywinauto==0.6.8
PyYAML==5.4.1
QScintilla==2.13.0
qt5-applications
qt5-tools==5.15.2.1.0.1
realtimefunc==0.1.1
rel==0.4.7
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rn-common
rsa==4.8
scapy==2.4.4
selenium==4.0.0
Send2Trash==1.8.0
shellescape==3.8.1
shiboken6==6.3.0
simplejson==3.17.3
singleton==0.1.0
sip==5.5.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlacodegen==2.3.0
SQLAlchemy==1.4.20
sqlparse==0.4.2
stevedore==3.4.0
toml==0.10.2
tornado==6.1
trio==0.19.0
trio-websocket==0.9.2
tzdata==2022.1
urllib3==1.26.4
v2ray-util==3.10.9.2
websocket-client==1.3.2
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
wsproto==1.0.0
xlwt==1.3.0
yarg==0.1.9
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
